#right_panel{
    height: 1000px;
    width: 300px;
    background-color: blue;
    float: right;
  }
  
  #left_panel{
    height: 1000px;
    width: 300px;
    float: left;
  }

  #container{
    margin-left: 280px;
  }
  
  #header{
    height: 100px;
    width: 700px;
    background-color: red;
  }

  #main_content{
    height:800px;
    width: 700px;
    background-color: blueviolet;
  }

  #footer{
    height:100px;
    width: 700px;
    background-color: green
  }